@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.add-patient-container{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin: auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}


.form-label-controls{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #505050;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    margin-top: 20px;
}

.form-controls{
    border: 1px solid #898989;
    background-color: #FBFBFD;
    border-radius: 4px;
    padding: 3px;
    height: 43px;
    width: 100%;
    font-size: 14px;
}

.form-controls:focus {
    border: 2px solid #1F9CC6;
    /* border-color: #1F9CC6; */
    outline: none;
    box-shadow: 0 0 2px #1F9CC6;
}

.form-controls-select{
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important;
    color: #505050 !important;
}



.discard-add-btn{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-top : 30px;
}

.discard-patient-btn{
    color: red;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 5px;
    border: 1px solid white;
}

.add-patient-btn{
    color: white;
    background-color: #1F9CC6;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1F9CC6;
    border-radius: 5px;
}

.add-new-head{
    font-size: 21px;
    font-weight: 700;
    color: #1F9CC6;
}

.basic-info{
    font-size: 18px;
    font-weight: 700;
}